name: CI

on:
  push:
    paths:
      - "**/*.go"
      - ".github/workflows/ci.yaml"

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6.0.2

      - name: Setup Go
        uses: actions/setup-go@v5.0.0
        with:
          go-version-file: ./go.mod
          cache-dependency-path: ./go.sum

      - name: Download Go modules
        shell: bash
        if: ${{ steps.setup-go.outputs.cache-hit != 'true' }}
        run: |
          go mod download
          go mod verify

      - name: Test
        run: make test

      - name: Build
        run: make build
